// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#headerimg {
    @include shadow-box;
    float: left;
    margin-right: 1.3em;
    height: 110px;
}

$page-bg: #888;

html {
  background: $page-bg; // image-url('line-tile.png') top left;
}
